{% extends 'nav.html' %}
{% block index %}

<div class="p-5 flex flex-col items-center justify-center gap-10">
    <h1 class="text-3xl sm:text-7xl font-bold text-center">The best way to create <br>
        <span class="text-[#1B952B]">QR Codes.</span></h1>
        <h6 class="text-[#68676C] text-center text-lg">
            Here you can generate QR Codes for <br> your project and business.
        </h6>
        <button class="items-center gap-4">
            <a href="#" class="rounded-md px-4 py-2 text-center text-sm font-medium tracking-wide text-neutral-100 hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 bg-[#1B952B]">Generate</a>
        </button>
        <img class="h-96 w-96" src="{{url_for('static', filename='img/illustration.svg')}}" alt="">
</div>

{% endblock %}