{%extends "base.html"%}
{%block content%}

<div class="flex justify-center items-center p-2 sm:p-10">
        <nav x-data="{ mobileMenuIsOpen: false }" @click.away="mobileMenuIsOpen = false" class="flex items-center justify-between px-6 py-4 bg-[#262626] w-11/12 h-12 sm:h-16 rounded-md" aria-label="">
            <!-- Brand Logo -->
            <a href="#" class="text-2xl font-bold text-neutral-900 dark:text-white flex items-center gap-3">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo">
                <span class="text-white"> QR </span>
                <!-- <img src="./your-logo.svg" alt="brand logo" class="w-10" /> -->
            </a>
            <!-- Desktop Menu -->
            <ul class="hidden sm:flex items-center gap-4">
                <li><a href="#" class="font-bold text-black underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-white dark:hover:text-white" aria-current="page">Home</a></li>
                <li><a href="#" class="font-medium text-neutral-600 underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-neutral-300 dark:hover:text-white">FAQs</a></li>
               
              
            </ul>
              <!-- CTA Button -->
              <div x-data="{ modelOpen: false }">
    <button
      @click="modelOpen =!modelOpen"
      class="hidden sm:flex items-center justify-center px-3 py-2 space-x-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-[#1B952B] rounded-md hover:bg-green-600 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50"
    >
      <span>Generate</span>
    </button>

    <div
      x-show="modelOpen"
      class="fixed inset-0 z-50 overflow-y-auto"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="flex  items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0"
      >
        <div
          x-cloak
          @click="modelOpen = false"
          x-show="modelOpen"
          x-transition:enter="transition ease-out duration-300 transform"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="transition ease-in duration-200 transform"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
          class="fixed inset-0 transition-opacity bg-gray-500 backdrop-blur bg-opacity-40"
          aria-hidden="true"
        ></div>

        <div
          x-cloak
          x-show="modelOpen"
          x-transition:enter="transition ease-out duration-300 transform"
          x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
          x-transition:leave="transition ease-in duration-200 transform"
          x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
          x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          class="inline-block w-full max-w-lg p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-xl"
        >
          <div class="flex items-center justify-end">
            <button
              @click="modelOpen = false"
              class="text-gray-600 focus:outline-none hover:text-gray-700"
            >
       <i class="fa-solid fa-x"></i>
            </button>
          </div>

          <div class="bg-white p-2 mx-auto">
            <!-- Title Section -->
            <div class="">
              <h1 class="sm:text-2xl  text-lg font-extrabold text-green-600">
                Create & Download
              </h1>
              <p class="mt-2 text-gray-400 text-xs font-light">
                Easily create and download customized QR codes for your URLs.
              </p>
            </div>

            <!-- Input Section -->
            <div class="mt-6">
              <h2 class="sm:text-base">Enter URL</h2>
              <p class="mt-2 text-gray-400 text-xs font-light">
                Provide the URL to generate a unique QR code for easy sharing.
              </p>
            </div>
           <form id="qrForm" onsubmit="generateQRCode(event)" class="w-full flex flex-col justify-center mt-4">
                        {{ form.hidden_tag() }}
                        <div class="">
                            {{ form.data(class="p-2 w-full border rounded-md", id="input", placeholder="Enter your URL") }}
                        </div>
                        <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded-md w-fit mx-auto mt-4">
                            Generate
                        </button>
                    </form>

                    <!-- QR Code Display -->
                    <div id="qrBox" class="mt-6 hidden flex-col items-center justify-center text-center">
                      <div class="w-fit sm:p-10 border border-green-200 rounded-lg shadow">
                        <img id="qrCodeImage" style="display: none;" 
                             alt="Generated QR Code" 
                             class=" mx-auto">

                             
                             </div>
                                <div class="flex justify-center mt-5 w-full">
              <button
                @click="clear(); modelOpen = false"
                type="button"
                class="mr-2 w-1/2 py-2 text-sm tracking-wide capitalize transition-colors border border-gray-300 duration-200 transform bg-white hover:bg-gray-200 rounded-md"
              >
                Cancel
              </button>

              <button class="justify-center bg-[#1B952B] text-white
              hover:bg-green-600 focus:ring focus:outline-none shadow-md
              focus:ring-gray-100 font-medium rounded-lg text-sm w-1/2 py-2.5
              text-center inline-flex items-center">
              Download
            </button>
            </div>
                    </div>

                    
          </div>

          

          <!-- Dialog Footer -->
        </div>
      </div>
    </div>
  </div>
           
            <!-- Mobile Menu Button -->
            <button @click="mobileMenuIsOpen = !mobileMenuIsOpen" :aria-expanded="mobileMenuIsOpen" :class="mobileMenuIsOpen ? 'fixed top-6 right-6 z-20 ' : 'bg-[#1B952B]'" type="button" class="flex text-neutral-600 dark:text-neutral-300 sm:hidden rounded-3xl px-3 py-1" aria-label="mobile menu" aria-controls="mobileMenu">
                <img x-cloak x-show="!mobileMenuIsOpen" src="{{ url_for('static', filename='img/nav-icon.svg') }}" alt="Menu Icon">

                <svg x-cloak x-show="mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>

            </button>
            <!-- Mobile Menu -->
            <ul x-cloak x-show="mobileMenuIsOpen" 
            x-transition:enter="transition motion-reduce:transition-none ease-out duration-300" 
            x-transition:enter-start="translate-x-full" 
            x-transition:enter-end="translate-x-0" 
            x-transition:leave="transition motion-reduce:transition-none ease-out duration-300" 
            x-transition:leave-start="translate-x-0" 
            x-transition:leave-end="translate-x-full" 
            id="mobileMenu" 
            class="fixed h-full overflow-y-auto inset-x-0 top-0 z-10 flex flex-col divide-y divide-neutral-300 border-b border-neutral-300 bg-neutral-50 px-6 pb-6 pt-20 dark:divide-neutral-700 dark:border-neutral-700 dark:bg-neutral-900 sm:hidden"
        >
            <!-- Regular Menu Items -->
            <li class="py-4"><a href="#" class="w-full text-lg font-bold text-black focus:underline dark:text-white" aria-current="page">Home</a></li>
            <li class="py-4"><a href="#" class="w-full text-lg font-medium text-neutral-600 focus:underline dark:text-neutral-300">FAQs</a></li>
        
            <!-- Spacer -->
            <li class="flex-grow"></li>
        
            <!-- CTA Button -->
            <li class="bottom-0 py-10 w-full border-none">
              <div x-data="{ modelOpen: false }">
    <button
      @click="modelOpen =!modelOpen"
      class="flex w-full items-center justify-center px-3 py-2 space-x-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-[#1B952B] rounded-md hover:bg-green-600 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50"
    >
      <span>Generate QR</span>
    </button>

    <div
      x-show="modelOpen"
      class="fixed inset-0 z-50 overflow-y-auto"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="flex  items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0"
      >
        <div
          x-cloak
          @click="modelOpen = false"
          x-show="modelOpen"
          x-transition:enter="transition ease-out duration-300 transform"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="transition ease-in duration-200 transform"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
          class="fixed inset-0 transition-opacity bg-gray-500 backdrop-blur bg-opacity-40"
          aria-hidden="true"
        ></div>

        <div
          x-cloak
          x-show="modelOpen"
          x-transition:enter="transition ease-out duration-300 transform"
          x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
          x-transition:leave="transition ease-in duration-200 transform"
          x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
          x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          class="inline-block w-full max-w-lg p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-xl"
        >
          <div class="flex items-center justify-end">
            <button
              @click="modelOpen = false"
              class="text-gray-600 focus:outline-none hover:text-gray-700"
            >
       <i class="fa-solid fa-x"></i>
            </button>
          </div>

          <div class="bg-white p-2 mx-auto">
            <!-- Title Section -->
            <div class="">
              <h1 class="sm:text-2xl  text-lg font-extrabold text-green-600">
                Create & Download
              </h1>
              <p class="mt-2 text-gray-400 text-xs font-light">
                Easily create and download customized QR codes for your URLs.
              </p>
            </div>

            <!-- Input Section -->
            <div class="mt-6">
              <h2 class="sm:text-base">Enter URL</h2>
              <p class="mt-2 text-gray-400 text-xs font-light">
                Provide the URL to generate a unique QR code for easy sharing.
              </p>
            </div>
           <form id="qrForm" onsubmit="generateQRCode(event)" class="w-full flex flex-col justify-center mt-4">
                        {{ form.hidden_tag() }}
                        <div class="">
                            {{ form.data(class="p-2 w-full border rounded-md", id="input", placeholder="Enter your URL") }}
                        </div>
                        <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded-md w-fit mx-auto mt-4">
                            Generate
                        </button>
                    </form>

                    <!-- QR Code Display -->
                    <div id="qrBox" class="mt-6 hidden flex-col items-center justify-center text-center">
                      <div class="w-fit sm:p-10 border border-green-200 rounded-lg shadow">
                        <img id="qrCodeImage" style="display: none;" 
                             alt="Generated QR Code" 
                             class=" mx-auto">

                             
                             </div>
                                <div class="flex justify-center mt-5 w-full">
              <button
                @click="clear(); modelOpen = false"
                type="button"
                class="mr-2 w-1/2 py-2 text-sm tracking-wide capitalize transition-colors border border-gray-300 duration-200 transform bg-white hover:bg-gray-200 rounded-md"
              >
                Cancel
              </button>

              <button class="justify-center bg-[#1B952B] text-white
              hover:bg-green-600 focus:ring focus:outline-none shadow-md
              focus:ring-gray-100 font-medium rounded-lg text-sm w-1/2 py-2.5
              text-center inline-flex items-center">
              Download
            </button>
            </div>
                    </div>

                    
          </div>

          

          <!-- Dialog Footer -->
        </div>
      </div>
    </div>
  </div>
            </li>
        </ul>
        
        </nav>
        
</div>

{% block index %}{% endblock %}

{%endblock%}